<section class="pt-10 pb-10" id="">
  <article
    class="mx-auto flex max-w-72 flex-wrap items-center justify-between sm:max-w-screen-lg"
  >
    <img
      src="https://lh3.googleusercontent.com/a/ACg8ocI6RFQFOVD-7t7a3JB0nPd3uf_Cu_amBRn2BXgSy1D4m9u30aMngg=s192-c-rg-br100"
      alt="imagen de perfil"
      class="mx-auto w-72"
    />
    <div class="mx-auto flex flex-col gap-10">
      <h2
        class="bg-gradient-to-r from-[#ff5d50] to-[#d31166] bg-clip-text text-center text-6xl font-black text-transparent sm:text-left"
      >
        Hola!
      </h2>
      <p>Soy Eider Prieto Desarrollador Web</p>
      <ul class="flex gap-10">
        <li>
          <a
            href="https://www.linkedin.com/in/ejprietocal/"
            target="_blank"
            class="bg-white"
          >
            <img src="assets/linkedin.svg" alt="linkedin" class="w-20" />
          </a>
        </li>
        <li>
          <a href="https://github.com/ejprietocal" target="_blank">
            <img
              src="assets/github.svg"
              alt="github"
              class="w-20 rounded-full bg-white"
            />
          </a>
        </li>
      </ul>
    </div>
  </article>
</section>

<section id="about-me">

</section>
